[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
twine = "*"
fortunecookiepkg = {file = ".", editable = true}
pytest = "*"

[dev-packages]

[requires]
python_version = "3"
